# Update the attribute table of a feature layer

In [ ]:
#### This code wasn't used for this task but it could be helpful in the future. What it does i

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import arcgis
from arcgis.gis import GIS
import json
import pandas as pd
from arcgis.features import FeatureLayerCollection
from copy import deepcopy
import os

In [3]:
sp = pd.read_csv('/Users/sofia/Documents/HE_Data/NRC/NRC_Terrestrial/species_updated.csv')
sp.head()

,Unnamed: 0,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,ObjectId,nsps_replace,x,y,GID_0
0,0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,1,75-100,18.674166,15.376265,TCD
1,1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,2,75-100,18.674166,15.376265,TCD
2,2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,3,50-75,18.674166,15.376265,TCD
3,3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,4,75-100,18.674166,15.376265,TCD
4,4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,5,75-100,18.674166,15.376265,TCD

In [4]:
sp['iso3']==sp['GID_0']
sp= sp.drop(columns='GID_0')
sp.head()

,Unnamed: 0,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,ObjectId,nsps_replace,x,y
0,0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,1,75-100,18.674166,15.376265
1,1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,2,75-100,18.674166,15.376265
2,2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,3,50-75,18.674166,15.376265
3,3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,4,75-100,18.674166,15.376265
4,4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,5,75-100,18.674166,15.376265

In [5]:
sp= sp.drop(columns={'Unnamed: 0', 'ObjectId'})
sp.head()

,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,nsps_replace,x,y
0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,75-100,18.674166,15.376265
1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,75-100,18.674166,15.376265
2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,50-75,18.674166,15.376265
3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,75-100,18.674166,15.376265
4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,75-100,18.674166,15.376265

In [8]:
sp_gdf = gpd.GeoDataFrame(sp, geometry=gpd.points_from_xy(sp.x, sp.y))
sp_gdf

,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,nsps_replace,x,y,geometry
0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,75-100,18.674166,15.376265,POINT (18.67417 15.37626)
1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,75-100,18.674166,15.376265,POINT (18.67417 15.37626)
2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,50-75,18.674166,15.376265,POINT (18.67417 15.37626)
3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,75-100,18.674166,15.376265,POINT (18.67417 15.37626)
4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,75-100,18.674166,15.376265,POINT (18.67417 15.37626)
...,...,...,...,...,...,...,...,...,...,...,...
162734,reptiles,Lepidodactylus lugubris,United States Minor Outlying Islands,BLZ,0-25%,0-25,51,0-25,-162.074795,5.875526,POINT (-162.07479 5.87553)
162735,reptiles,Anolis longiceps,United States Minor Outlying Islands,BLZ,0-25%,0-25,1,0-25,-162.074795,5.875526,POINT (-162.07479 5.87553)
162736,reptiles,Sphaerodactylus becki,United States Minor Outlying Islands,BLZ,0-25%,0-25,1,0-25,-162.074795,5.875526,POINT (-162.07479 5.87553)
162737,reptiles,Celestus badius,United States Minor Outlying Islands,BLZ,0-25%,0-25,1,0-25,-162.074795,5.875526,POINT (-162.07479 5.87553)
162738,reptiles,Typhlops sulcatus,United States Minor Outlying Islands,BLZ,0-25%,0-25,3,0-25,-162.074795,5.875526,POINT (-162.07479 5.87553)

In [12]:
sp_gdf.crs

In [13]:
sp_gdf = sp_gdf.set_crs('EPSG:4326') 
sp_gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [14]:
sp_gdf.to_file( '/Users/sofia/Documents/HE_Data/NRC/NRC_Terrestrial/NRC_species_data_20200817_formatted_new.shp',driver= 'ESRI Shapefile')

/var/folders/98/0pdnjc5s29x2pnzl293pw7hr0000gn/T/ipykernel_11045/4186570083.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  sp_gdf.to_file( '/Users/sofia/Documents/HE_Data/NRC/NRC_Terrestrial/NRC_species_data_20200817_formatted_new.shp',driver= 'ESRI Shapefile')

In [2]:
# env_path = "../../.env"
env_path = ".env"
with open(env_path) as f:
   env = {}
   for line in f:
       env_key, _val = line.split("=")
       env_value = _val.split("\n")[0]
       env[env_key] = env_value

In [3]:
aol_password = env['ARCGIS_GRETA_PASS']
aol_username = env['ARCGIS_GRETA_USER']

In [4]:
gis = GIS("https://eowilson.maps.arcgis.com", aol_username, aol_password, profile = "eowilson")

Keyring backend being used (keyring.backends.OS_X.Keyring (priority: 5)) either failed to install or is not recommended by the keyring project (i.e. it is not secure). This means you can not use stored passwords through GIS's persistent profiles. Note that extra system-wide steps must be taken on a Linux machine to use the python keyring module securely. Read more about this at the keyring API doc (http://bit.ly/2EWDP7B) and the ArcGIS API for Python doc (http://bit.ly/2CK2wG8).

In [5]:
def getHTfromId(item_id):
    item = gis.content.get(item_id)
    flayer = item.layers[0]
    sdf = flayer.query().sdf
    return sdf

In [6]:
sp = getHTfromId('44254d4f599643dea844d53d4f138dec')

In [51]:
sp.head()

,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,ObjectId,nsps_replace,GID_0,SHAPE
0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,1,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,2,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,3,50-75,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,4,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,5,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."

In [8]:
len(sp)

162739

In [26]:
iso =  pd.read_csv('/Users/sofia/Documents/HE_Data/NRC/NRC_Terrestrial/NRC_species_data_20200817_formatted_original.csv')
len(iso)

163731

In [27]:
iso.head()

,Unnamed: 0,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship
0,0,birds,Accipiter badius,Chad,TCD,0-25%,75-100%,63
1,1,birds,Accipiter brevipes,Chad,TCD,0-25%,75-100%,29
2,2,birds,Accipiter ovampensis,Chad,TCD,0-25%,25-50%,34
3,3,birds,Acrocephalus arundinaceus,Chad,TCD,0-25%,75-100%,104
4,4,birds,Acrocephalus baeticatus,Chad,TCD,0-25%,75-100%,34

In [28]:
iso = iso.groupby(['countryname','iso3']).size().reset_index(name='count').drop(columns={'count'}).rename(columns={'iso3':'ISO_3'})
iso

               countryname ISO_3
0              Afghanistan   AFG
1    Akrotiri and Dhekelia   XAD
2                  Albania   ALB
3                  Algeria   DZA
4           American Samoa   ASM
..                     ...   ...
250         Western Sahara   ESH
251                  Yemen   YEM
252                 Zambia   ZMB
253               Zimbabwe   ZWE
254                  Åland   ALA

[255 rows x 2 columns]

In [29]:
sp.head()

,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,ObjectId,nsps_replace,GID_0,SHAPE
0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,1,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,2,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,3,50-75,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,4,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."
4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,5,75-100,None,"{""x"": 2078798.6218999997, ""y"": 1732601.8244000..."

In [30]:
iso

               countryname ISO_3
0              Afghanistan   AFG
1    Akrotiri and Dhekelia   XAD
2                  Albania   ALB
3                  Algeria   DZA
4           American Samoa   ASM
..                     ...   ...
250         Western Sahara   ESH
251                  Yemen   YEM
252                 Zambia   ZMB
253               Zimbabwe   ZWE
254                  Åland   ALA

[255 rows x 2 columns]

In [31]:
sp2 =  pd.merge(sp, iso,  how='left', left_on=['countryname'], right_on = ['countryname'])
sp2.head()

,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,ObjectId,nsps_replace,GID_0,SHAPE,ISO_3
0,birds,Myrmecocichla nigra,Chad,BLZ,25-50%,75-100,18,1,75-100,None,"{'x': 2078798.6218999997, 'y': 1732601.8244000...",TCD
1,birds,Necrosyrtes monachus,Chad,BLZ,0-25%,75-100,42,2,75-100,None,"{'x': 2078798.6218999997, 'y': 1732601.8244000...",TCD
2,birds,Nectarinia cuprea,Chad,BLZ,0-25%,50-75,36,3,50-75,None,"{'x': 2078798.6218999997, 'y': 1732601.8244000...",TCD
3,birds,Nectarinia pulchella,Chad,BLZ,0-25%,75-100,29,4,75-100,None,"{'x': 2078798.6218999997, 'y': 1732601.8244000...",TCD
4,birds,Nectarinia senegalensis,Chad,BLZ,25-50%,75-100,36,5,75-100,None,"{'x': 2078798.6218999997, 'y': 1732601.8244000...",TCD

In [32]:
sp2.tail()

,speciesgroup,species,countryname,iso3,percentprotected,NSPS,stewardship,ObjectId,nsps_replace,GID_0,SHAPE,ISO_3
162734,reptiles,Lepidodactylus lugubris,United States Minor Outlying Islands,BLZ,0-25%,0-25,51,162735,0-25,None,"{'x': -18042083.6498, 'y': 655209.8962000012, ...",UMI
162735,reptiles,Anolis longiceps,United States Minor Outlying Islands,BLZ,0-25%,0-25,1,162736,0-25,None,"{'x': -18042083.6498, 'y': 655209.8962000012, ...",UMI
162736,reptiles,Sphaerodactylus becki,United States Minor Outlying Islands,BLZ,0-25%,0-25,1,162737,0-25,None,"{'x': -18042083.6498, 'y': 655209.8962000012, ...",UMI
162737,reptiles,Celestus badius,United States Minor Outlying Islands,BLZ,0-25%,0-25,1,162738,0-25,None,"{'x': -18042083.6498, 'y': 655209.8962000012, ...",UMI
162738,reptiles,Typhlops sulcatus,United States Minor Outlying Islands,BLZ,0-25%,0-25,3,162739,0-25,None,"{'x': -18042083.6498, 'y': 655209.8962000012, ...",UMI

In [33]:
### Add new field to Hosted service
## Create fields
def createFieldsToBeAdded(flayer, csv_table):
    flayer_fields = flayer.manager.properties.fields
    template_field = dict(deepcopy(flayer_fields[0]))
    sdf = sdf = flayer.query().sdf
    new_field_names = list(csv_table.columns.difference(sdf.columns))
    
    fields_to_be_added = []
    for new_field_name in new_field_names:
        current_field = deepcopy(template_field)
        dt = csv_table[new_field_name].dtypes
        
        if dt == 'O':
            #put the type to character
            current_field['sqlType'] = 'sqlTypeOther'
            current_field['type'] = 'esriFieldTypeString'
            current_field['length'] = 45000
        if dt == 'int64':
            #put the type to double
            current_field['sqlType'] = 'sqlTypeOther'
            current_field['type'] = 'esriFieldTypeDouble'
            #current_field['length'] = 8000      

        current_field['name'] = new_field_name.lower()
        current_field['alias'] = new_field_name
        current_field['nullable'] = True
        current_field['editable'] = True
        fields_to_be_added.append(current_field)
    return fields_to_be_added

In [34]:
# Get table to be updated and compare both to identify fields to be added
item = gis.content.get('44254d4f599643dea844d53d4f138dec')
flayer = item.layers[0]
fields_to_be_added = createFieldsToBeAdded(flayer, sp2)

In [35]:
fields_to_be_added

[{'name': 'iso_3',
  'type': 'esriFieldTypeString',
  'actualType': 'nvarchar',
  'alias': 'ISO_3',
  'sqlType': 'sqlTypeOther',
  'length': 45000,
  'nullable': True,
  'editable': True,
  'visible': True,
  'domain': None,
  'defaultValue': None}]

In [36]:
flayer.manager.add_to_definition({'fields':fields_to_be_added})

{'success': True}

In [37]:
#https://developers.arcgis.com/python/sample-notebooks/updating-features-in-a-feature-layer/
def createFeaturesForUpdate(flayer, csv_table, fields_to_be_added, id_field_in_csv, id_field_in_service):
    fset2 = flayer.query()
    features2 = fset2.features
    features_for_update = []
    for country_id in csv_table[id_field_in_csv]:
        try:
            # get the matching row from csv
            matching_row = csv_table.where(csv_table[id_field_in_csv] == country_id).dropna()

            #print(str(country_id) + " Adding additional attributes for: " + matching_row['iso3'].values[0])

            # get the feature to be updated
            assert  len([f for f in features2 if f.attributes[id_field_in_service] == country_id]),  "id not matched"
            original_feature = [f for f in features2 if f.attributes[id_field_in_service] == country_id][0]
            feature_to_be_updated = deepcopy(original_feature)

            # assign the updated values
            for field in fields_to_be_added:
                feature_to_be_updated.attributes[field['name']] = matching_row[field['name']].values[0]
                #add this to the list of features to be updated
                features_for_update.append(feature_to_be_updated)
    
        except:
            print(f"{country_id} not available in service")
    return features_for_update

In [ ]:
features_for_update = createFeaturesForUpdate(flayer = flayer ,
                        csv_table = sp2,
                        fields_to_be_added =  fields_to_be_added, 
                        id_field_in_csv = "countryname", 
                        id_field_in_service = "countryname")

Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Chad not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Chad not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service
Cuba not available in service

In [ ]:
flayer.edit_features(updates= features_for_update)